# ide's
.vscode
.idea

# docker
dockerfile
.dockerignore

# git
.git
.gitignore
.github

# node stuff
node_modules
npm-debug.log

# parcel
.parcel-cache
dist

# dev
.jsbeautifyrc
.jshintrc
.nvmrc
.proxyrc

# misc
readme.md
LICENSE
