# node stuff
node_modules
npm-debug.log

# parcel
.parcel-cache
dist

# git
.git
.gitignore

# dev
.jsbeautifyrc
.jshintrc
.nvmrc
.proxyrc

# docker
dockerfile
.dockerignore

# misc
README.md

# ide's
.vscode
.idea

# pipeline's
.github
